{% extends 'base.html' %}
{% block title %} | Merchant Register {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">REGISTER</h1>

            <div class="form-group">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}