{% extends 'base.html' %}
{% block title %} Create Listing {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container mt-4">
    <h1 class="text-center">Add Listing</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<h5 class="text-center">Please login to access this page</h5>
{% endif %}

{% endblock %}