{% extends 'base.html' %}
{% if user.is_authenticated %}

{% block title %} Create Listing {% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center">Add Listing</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

</div>

{% endif %}
{% endblock %}