{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4 text-center">MumiakGuides</h1>

    <div class="row">
        {% for listing in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card bg-light" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                {% if listing.logo %}
                <a href="{% url 'listings' listing.pk %}">
                    <img src="{{ listing.logo.url }}" class="card-img-top" alt="Logo" width="500px" height="300px">
                </a>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ listing.name }}</h5>
                    <p class="card-text">{{ listing.author.first_name }} {{ listing.author.last_name }}</p>
                    <p class="card-text">{{ listing.creation_date }}</p>
                    <p class="card-text">{{ listing.description|slice:":70" }}</p>

                    <div class="row">
                        {% if listing.web_url %}
                        <div class="col-md-6">
                            <a href="{{ listing.web_url }}" target="_blank" class="btn btn-primary btn-block mt-3">Visit
                                Website</a>
                        </div>
                        {% endif %}

                        <div class="{% if listing.web_url %}col-md-6{% else %}col-md-12{% endif %}">
                            <a href="{% url 'listings' listing.pk %}" class="btn btn-primary btn-block mt-3">View
                                Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}