{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center">MumiakGuides</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
    {% for listing in object_list %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'listing' listing.pk %}">{{ listing.name }}</a></h5>
            <p class="card-text">
              Owner: {{ listing.owner.first_name }} {{ listing.owner.last_name }}<br>
              Created on: {{ listing.date }} <br>
              Description: {{ listing.description }}
            </p>
            <a href="{% url 'listing' listing.pk %}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
