{% extends 'base.html' %}
{% block title %} | {{ listing.name }} {% endblock %}
{% load bleach_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            {% if listing.logo %}
            <img src="{{ listing.logo.url }}" class="img-fluid" style="width: 600px; height: 400px;"
                alt="{{ listing.name }}">
            {% endif %}
        </div>

        <div class="col-md-6">
            <h2>{{ listing.name }}</h2>
            <h5 class="mb-4">{{ listing.author.first_name }} {{ listing.author.last_name }}</h5>

            <p>{{ listing.description }}</p>

            {% if listing.web_url %}
            <a href="{{ listing.web_url }}" target="_blank">Website</a>
            {% endif %}
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            {% if listing.hours %}
            <p class="card-text">Operation Hours: {{ listing.hours }}</p>
            {% endif %}

            {% if listing.date %}
            <p class="card-text">Event Date: {{ listing.date }}</p>
            {% endif %}

            <p class="card-text">Opening Time/Start Time: {{ listing.start_time }}</p>
            <p class="card-text">Closing Time/End Time: {{ listing.end_time }}</p>
            <p class="card-text">Social Media Handles: {{ listing.social_media }}</p>
            <p class="card-text">Mobile No: {{ listing.mobile_no }}</p>
            <p class="card-text">Email: {{ listing.email }}</p>
            <p class="card-text">Address: {{ listing.address }}</p>
            <p class="card-text">Payment Method: {{ listing.payment_method }}</p>

            {% if listing.other_info %}
            <p class="card-text">Additional Information: {{ listing.other_info }}</p>
            {% endif %}

            {% with sanitized_map_link=listing_instance.map_url|bleach %}
            <iframe width="1050" height="450" frameborder="0" style="border:0" src="{{ sanitized_map_link|safe }}" title="Listing Locatin Map" allowfullscreen>
            </iframe>
            {% endwith %}
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </div>
</div>
{% endblock %}

Map URL: {{ listing_instance.map_url }}