{% if listing.logo %}
<img src="{{ listing.logo.url }}" alt="Logo">
{% endif %}


<h2>{{ listing.name }}</h2>
<h2>{{ listing.author.first_name }}  {{ listing.author.last_name }}</h2>
<p>Description: {{ listing.description }}</p>
<p>Website: {{ listing.web_url }}</p>
<p>Hours: {{ listing.hours }}</p>
<p>Date: {{ listing.date }}</p>
<p>Start Time: {{ listing.start_time }}</p>
<p>End Time: {{ listing.end_time }}</p>
<p>Social Media: {{ listing.social_media }}</p>
<p>Location Map: {{ listing.map_url }}</p>
<p>Mobile No: {{ listing.mobile_no }}</p>
<p>Email: {{ listing.email }}</p>
<p>Address: {{ listing.address }}</p>
<p>Payment Method: {{ listing.payment_method }}</p>
<p>Additional Information: {{ listing.other_info }}</p>

<a href="{% url 'home' %}">Home</a>