{% extends 'base.html' %}
{% load static %}
{% block title %} {{listing.name }} {% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center">{{ listing.name }}</h2>

    {% if listing.header_image %}
    <img src="{{ listing.header_image.url }}" alt="Image">
    {% endif %}

    <p>Owner: {{ listing.owner.first_name }} {{ listing.owner.last_name }}</p>
    <p>Town: {{ listing.town }}</p>
    <p>Created on: {{ listing.date }}</p>

    {% if user.is_authenticated %}
    {% if user.id == listing.owner.id %}
    <a href="{% url 'update_listing' listing.pk %}" class="btn btn-secondary">Edit</a>
    <a href="{% url 'delete_listing' listing.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
    {% endif %}
    <br>

    <p>{{ listing.description|safe }}</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>

    <br><br>
    <hr>
    <br>

    <form action="{% url 'like_listing' listing.pk %}" method="post">
        {% csrf_token %}

        {% if user.is_authenticated %}
        {% if liked %}
        <button type="submit" name="listing_id" value="{{ listing.id }}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
        <button type="submit" name="listing_id" value="{{ listing.id }}" class="btn btn-primary btn-sm">Like</button>
        {% endif %}
        {% endif %}
        {{ total_likes }} Like(s)
    </form>


    <div class="card mb-3 mt-4">
        <div class="row g-0">
            <div class="col-md-2">
                {% if listing.owner.userprofile.profile_pic and listing.owner.userprofile.profile_pic.url %}
                    <img src="{{ listing.owner.userprofile.profile_pic.url }}" class="img-fluid rounded-start"
                        alt="{{ listing.owner.first_name }}">
                {% else %}
                    <img src="{% static 'listings/images/unicorn.jpeg' %}" class="img-fluid rounded-start"
                        alt="{{ listing.owner.first_name }}">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.owner.first_name }} {{ listing.owner.last_name }}</h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            {% if listing.owner.userprofile.website_url %}
                            <a href="{{ listing.owner.userprofile.website_url }}" target="_blank">Website</a> 
                            {% endif %}

                            {% if listing.owner.userprofile.x_url %}
                            | <a href="{{ listing.owner.userprofile.x_url }}" target="_blank">X</a>
                            {% endif %}

                            {% if listing.owner.userprofile.instagram_url %}
                            | <a href="{{ listing.owner.userprofile.instagram_url }}" target="_blank">Instagram</a> 
                            {% endif %}

                            {% if listing.owner.userprofile.tiktok_url %}
                            | <a href="{{ listing.owner.userprofile.tiktok_url }}" target="_blank">Tiktok</a> 
                            {% endif %}

                            {% if listing.owner.userprofile.facebook_url %}
                            | <a href="{{ listing.owner.userprofile.facebook_url }}" target="_blank">Facebook</a>
                            {% endif %}
                        </small>
                    </p>
                    <p class="card-text">{{ listing.owner.userprofile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}