{% extends 'base.html' %}
{% block title %} | {{ listing.name }} {% endblock %}
{% load bleach_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            {% if listing.logo %}
            <img src="{{ listing.logo.url }}" class="img-fluid" style="width: 600px; height: 400px;"
                alt="{{ listing.name }}">
            {% endif %}
        </div>

        <div class="col-md-6">
            <h2>{{ listing.name }}</h2>
            <h5 class="mb-4">{{ listing.author.first_name }} {{ listing.author.last_name }}</h5>
            <p>Date created: {{ listing.creation_date }}</p>

            <p>Category: {{ listing.category }}</p>
            <p>Sub County: {{ listing.sub_county }}</p>
            <p>Ward: {{ listing.ward }}</p>
            <p>Town: {{ listing.town }}</p>

            {% if listing.web_url %}
            <a href="{{ listing.web_url }}" target="_blank" class="btn btn-primary">Website</a>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="row mt-4">
                <div class="col-md-4">
                    <a href="{% url 'listings_update' listing.pk %}" class="btn btn-primary btn-block">Update
                        Listing</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'listing_delete' listing.pk %}" class="btn btn-danger btn-block">Delete Listing</a>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <p>{{ listing.description }}</p>
            
            {% if listing.hours %}
            <p class="card-text">Operation Hours: {{ listing.hours }}</p>
            {% endif %}

            {% if listing.date %}
            <p class="card-text">Event Date: {{ listing.date }}</p>
            {% endif %}

            <p class="card-text">Opening Time/Start Time: {{ listing.start_time }}</p>
            <p class="card-text">Closing Time/End Time: {{ listing.end_time }}</p>
            <p class="card-text">Social Media Handles: {{ listing.social_media }}</p>
            <p class="card-text">Mobile No: {{ listing.mobile_no }}</p>
            <p class="card-text">Email: {{ listing.email }}</p>
            <p class="card-text">Address: {{ listing.address }}</p>
            <p class="card-text">Payment Method: {{ listing.payment_method }}</p>

            {% if listing.other_info %}
            <p class="card-text">Additional Information: {{ listing.other_info }}</p>
            {% endif %}

            <iframe width="1050" height="450" frameborder="0" style="border:0" src="{{ listing.map_url|default:'' }}" title="Listing Location Map" allowfullscreen></iframe>
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
    </div>
</div>
{% endblock %}